---
http_interactions:
- request:
    method: get
    uri: https://api.cloudflare.com/client/v4/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Auth-Email:
      - max@substrakt.com
      X-Auth-Key:
      - this-is-not-a-real-tokenb
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"success":false,"errors":[{"code":6003,"message":"Invalid request
        headers","error_chain":[{"code":6103,"message":"Invalid format for X-Auth-Key
        header"}]}],"messages":[],"result":null}'
  recorded_at: Tue, 29 Nov 2016 15:08:14 GMT
recorded_with: VCR 3.0.3
